
{% extends 'base.html.twig' %}
{% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="page de connexion du site la gazette">
        <title>{% block title %}inscription{% endblock %}</title>

        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

        <link href="//db.onlinewebfonts.com/c/7a8bc7c29b5bcadb9510cca51210ac46?family=Sitka+Banner&display=swap" rel="preload" as="font" type="text/css"/>
        <link rel="stylesheet" href="{{asset("css/style.css")}}">
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
{% endblock %}


{% block body %}


    <div class="container-fluid" >
    <div class="row">
    <div class="col-12 col-lg-7 bg-register" >
    <div class="filter">
    
    </div>
    </div>
    <div class="col-12 col-lg-5">
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1 class="text-center">La Gazette</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username,{'attr':{'placeholder':'votre nom d\'utilisateur'}}) }}
        <p class="error alert-danger mt-3"></p>
        {{ form_row(registrationForm.plainPassword, {
            label: ' ',
            placeholder:'votre mot de passe'
       
                    }) }}
        {{ form_row(registrationForm.agreeTerms,{'attr':{'class':'mt-5'}}) }}

        <button type="submit" class="btn btn-primary w-100 mt-5">Inscription</button>
    {{ form_end(registrationForm) }}    
    </div>
    </div>
    </div>
    {% block javascript %}
    <script src="{{asset('js/form.js')}}"></script>
    {% endblock %}
{% endblock %}
